$bg-color: rgb(47, 169, 206);
$bg-cta: rgb(0, 194, 253);
$bg-main: rgb(235, 250, 255);
$fs4: 5em; 
$fm: 'Charmonman', cursive;
$btn-fs: 2em;

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    height: 100vh;
    background-color: $bg-color;

    .header--h1 {
        position: absolute;
        top: 30%;
        width: 100%;
        color: #fcfcfc;
        font-size: $fs4;
        font-family: $fm;
        text-align: center;

        @media screen and (max-width: 650px) {
            top: 17%;
        }
    }

    .header--cta {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: $bg-cta;
        border: 5px solid white;
        padding: 15px 40px;
        border-radius: 20px;
        font-size: $btn-fs;
        color: white;
        font-family: $fm;
        cursor: pointer;

        @media screen and (max-width: 650px) {
            top: 75%;
        }
    }
}

.main {
    height: 100vh;
    background-color: $bg-main;



    .inp {
        max-width: 45vh;
        #imp {
            padding: 10px 20px;
            transform: translateX(-50%);
            border: 3px solid $bg-cta;
            border-radius: 10px;
            margin-top: 20vh;
            min-width: 45vw;
            margin-left: 50%;
            &::placeholder {
                color: $bg-color;
            }

        }

        .main--btn {
            display: block;
            background-color: white;
            border: 5px solid $bg-cta;
            padding: 10px 20px;
            border-radius: 20px;
            font-size: 1.1em;
            color: $bg-color;
            font-family: $fm;
            cursor: pointer;
            margin-top: 10vh;
            margin-left: 50%;
            transform: translateX(-50%);
        }

        
    }
    .output {
        margin-top: 10vh;
        text-align: center;
        font-size: 3em;
        color: $bg-color;
    }
}
