body {
    position: relative;
}
.title-and-nav__nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: $bg__footer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    color: white;
    @media (min-width: $breakpoint) {
        align-self: center;
        position: static;
        width: 95%;
        background-color: transparent;
        flex-direction: row;
        justify-content: flex-end;



    }

    .nav__list {
        padding: 80px 0 0 0;
        border-bottom: 1px solid #fff;
        @media (min-width: $breakpoint) {
            padding: 0;
            border: none;
            display: flex;
            flex-direction: row;
            
        }
       
        .nav__item {
            @media (min-width: $breakpoint) {
                justify-content: flex-end;
            }
            &:first-child {
                border-top: 1px solid #fff;
                @media (min-width: $breakpoint) {
                    border: none;
                }
            }   
            
                
            
            .nav__link {
                display: block;
                color: white;
                padding: 20px 20px;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 18px;
                background-color: #273A71;
                @media (min-width: $breakpoint) {
                    background-color: transparent;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

//hidden