//                      BREAKPOINTS
//                      BREAKPOINTS
//                      BREAKPOINTS

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

//                      BREAKPOINTS
//                      BREAKPOINTS
//                      BREAKPOINTS

//                      KOLORY POWIATÓW
//                      KOLORY POWIATÓW
//                      KOLORY POWIATÓW

$powiat-grodziski-color: #9332fa;
$powiat-nowotomyski-color: #00AEEF;
$powiat-wolsztynski-color: #028279;
$powiat-miedzychodzki-color: #FC833E;
$powiat-chodzieski-color: #8fd625;
$powiat-zlotowski-color: #FF4E9B;
$powiat-pilski-color: #2E3192;
$powiat-wagrowiecki-color: #ffd900;
$powiat-szamotulski-color: #FF475D;
$powiat-obornicki-color: #00e0d5;
$powiat-czarnkowsko-trzcianecki-color: #bf00c5;

//                      KOLORY POWIATÓW
//                      KOLORY POWIATÓW
//                      KOLORY POWIATÓW

//                      DIEMENSIONS
//                      DIEMENSIONS
//                      DIEMENSIONS

$header-height: 12vh;
$first-part: 45%;
$second-part: 55%;
$fsection-height: 100vh - $header-height;

//                      DIEMENSIONS
//                      DIEMENSIONS
//                      DIEMENSIONS