@use 'partial';
@use 'mixin';
@use 'extend';

$primary-color: rgb(255, 179, 179);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: $primary-color;
    min-height: 100vh;
    .box1 {
        background-color: partial.$secondary-color;
    }
    .box2 {
        @include mixin.center-left(50%);
        @include mixin.dim(200px);
        background-color: partial.$secondary-color;
        color: $primary-color;
        @extend %center ;
    }
}