.section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    @media (min-width: $breakpoint-laptop) {
        flex-direction: row;
    }
    .section__first-part {
        width: 100%;

        @media (min-width: $breakpoint-laptop) {
            width: $first-part;
        }
    }

    .section__second-part {
        width: 100%;

        @media (min-width: $breakpoint-laptop) {
            width: $second-part;
        }
    }
}


