.first-section {
    @media (min-width: $breakpoint-laptop) {
        height: $fsection-height;
    }
    .first-section__first-part {
        position: relative;
        @media (min-width: $breakpoint-laptop) {
            width: $first-part; 
        }
        .first-part__image {
            min-width: 100%;
            object-fit: cover;
        }
    }

    .first-section__second-part {
        position: relative;

        .first-part__bgimage {
            
            .second-part__image {
                min-width: 100%;
                max-width: 100%;
                object-fit: cover;     
            }
        }

        .second-part__number {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 38px;
            letter-spacing: 4px;
            position: absolute;
            top: 2.5%;
            right: 5%;
            color: #004278;
            @media (min-width: $breakpoint-tablet) {
                top: 5%;
                right: 7%;
                font-size: 66px;
            }
            @media (min-width: $breakpoint-laptop) {
                font-size: 50px;
            }

            .second-part__5 {
                font-weight: 500;
                font-size: 66px;
                color: #e61b26;

                @media (min-width: $breakpoint-tablet) {
                    font-size: 120px;
                }
            }
        }
    }
}