* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 177, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &::before,
    &::after {
        content: '';
        width: 10%;
        height: 15%;
        background-color: rgb(255, 177, 74);
        position: absolute;
        bottom: 2.5%;
    }
    &::before {
        left: 40%;
        transform: skewX(45deg);
    }
    &::after {
        right: 40%;
        transform: skewX(-45deg);

    }
    &__title {
        color: white;
        text-transform: uppercase;
        font-size: 52px;
        font-family: 'Courier New', Courier, monospace;
    }
    &__black {
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }
    .black__dot {
        
        &::after,
        &::before{
            content: '';
            display: inline-block;
            width: 7.5px;
            height: 15px;
            background-color: #fff;
        }
        &::before {
            transform: skewX(25deg);
        }

        &::after {
            transform: skewX(-25deg);

        }
    }


}
.section__one {
    background-color: rgb(255, 82, 82);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}