.main__menu {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    .menu__list {
        display: flex;
        list-style-type: none;
        .menu__item {
            &:last-child {
                border-right: 2px solid white;
            }
            .menu__link {
                color: white;
                text-decoration: none;
                display: block;
                padding: 10px 40px;
                font-weight: 100;
                transition: color .5s ease-in;

                &:hover {
                    color: orange;
                    transition: color .5s;
                }
            }
        }
    }

    .menu__button {
        margin-left: 40px;
        background: transparent;
        border: 2px solid orange;
        color: white;
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: 100;
        transition: .5s;
        cursor: pointer;
        &:hover {
            background-color: orange;
            transition: .5s;
        }
    }
}