@font-face {
    font-family: 'Muli';
    src: url(fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: 'Muli Extra Bold';
    src: url(fonts/Muli-ExtraBold.ttf);
}

@font-face {
    font-family: 'Muli Light';
    src: url(fonts/Muli-Light.ttf);
}