//      COLORS

$blue: #00B6DC;
$footer-blue: #001927;
$dark-blue: #002841;
$overlay: rgba(0, 0, 0, 0.5);
$yellow: #FFCD19;
$dark: #333333;
//      DIEMENSIONS

$default-image-size: 491px;

//      BREAKPOINTS

$breakpoint-menu: 900px;
$breakpoint-header: 600px;
$breakpoint-section: 800px;