@import 'global';

/* ================================================================= */ 
/* Front Page */ 
/* ================================================================= */ 
body,
a {
    color: #fff;
}

.front {
    display: flex;

    @media screen and (max-width: 850px) {
        flex-flow: column wrap;
    }
}

.card {
    position: relative;

    display: flex;
    flex-flow: column nowrap;

    flex: 50%;
    height:100vh;

    text-decoration: none;

    transition: .2s;

    @media screen and (max-width: 850px) {
        flex: initial;
        height: 50vh;
    }

    &:nth-child(1) {
        background-color: #1B1E25;
    }
    &:nth-child(2) {
        background-color: #387683;
    }

    &:hover {
        opacity: .90;
    }
    &:hover .card__p{
        text-decoration: underline;
    }
}

.card__title,
.card__p {
    left: 50%;

    text-align: center;
    font-weight: bolder;
}

.card__title,
h1 {
    padding-top: 100px;

    font-family: Sacramento, sans-serif;
    font-size: 72px;

    @media screen and (max-width: 850px) {
        padding-top: 30px;
    }
}
.card__p,
p, 
a {
    font-family: Rubik, sans-serif;
}

.card__p {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    font-size: 64px;

    // 
    align-self: center;
    justify-self: center;
    // 

    @media screen and (max-width: 850px) {
        font-size: 30px;
        top: 60%;
    }
}

.card__p_small {
    font-size: 36px;
    @media screen and (max-width: 850px) {
        font-size: 28px;
    }
}

/* ================================================================= */ 
/* Front Page */ 
/* ================================================================= */ 

/* ================================================================= */ 
/* Portfolio & Sandpit */ 
/* ================================================================= */ 

.portfolio {
    background-color: #1B1E25;

}

.sandpit {
    background-color: #387683;
}
.portfolio,
.sandpit {
    text-align: center;
    position: relative;

}

.standalone__img {
    width: 30px;

    position: fixed;
    top: 30px;
    right: 30px;

    opacity: .5;

    transition: .5s;
}
.standalone__img:hover {
    opacity: 1;
}
.standalone_rotate {
    transform: rotate(180deg);
}


/* ================================================================= */ 
/* Portfolio & Sandpit */ 
/* ================================================================= */ 

/* ================================================================= */ 
/* Portfolio  */ 
/* ================================================================= */ 

.portfolio {

}

.portfolio__main {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto 100px auto;

}

.portfolio__container {
    .container__title {
        font-size: 48px;
        padding: 100px 0 50px 0;
    }
    
    .container__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
        justify-content: center;
        gap: 100px;

        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        }
    }
    
    .container__item {
        display: block;
        text-decoration: none;
        transition: .3s;
        overflow: hidden;
        width: 100%;
    
        &:hover {
            text-decoration: underline;
        }
        &:hover .item__image {
            transform: scale(1.2);
        }
    }
    
    .item__image-wrapper {
        width: 100%;
        max-height: 500px;
        height: 500px;
        border-radius: 50%;
        overflow: hidden;

        @media screen and (max-width: 600px) {
            max-height: 300px;
            max-height: 300px;
        }
    }
    
    .item__image {
        transition: .3s;
        max-width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 50%;
    }
    
    .item__p {
        padding: 30px 0 0 0;
    }
}

.sandpit__container {
    .container__title {
        font-size: 48px;
        padding: 100px 0 50px 0;
    }
    
    .container__box {

    }
    
    .container__item {
        display: block;
        text-decoration: none;
        transition: .3s;
        overflow: hidden;
        width: 100%;
    
        &:hover {
            text-decoration: underline;
        }
    }
    
    .item__image-wrapper {
    }
    
    .item__p {
    }
}




/* ================================================================= */ 
/* Portfolio  */ 
/* ================================================================= */ 

/* ================================================================= */ 
/* Sandpit */ 
/* ================================================================= */ 

.sandpit {

}

.sandpit__main {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto 100px auto;

}

.sandpit__container {
    .container__title {
    }
    
    .container__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
        gap: 50px;
        justify-content: center;
    }
    
    .container__item {
        display: block;
        text-decoration: none;
        transition: .3s;
        overflow: hidden;
        width: 100%;
        color: #141915;
        border-radius: 5px;

        background-color: #5E92A6;
        &:hover {
            text-decoration: underline;
            background-color: #71acc4;
        }
    }
    
    .item__p {
        padding: 30px 50px;
        text-transform: capitalize;
    }
}




/* ================================================================= */ 
/* Sandpit */ 
/* ================================================================= */ 