.header {
    position: relative;
    background-image: url('../images/rio_header_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    z-index: 1;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100vh;
        z-index: 2;  
        background-color: rgba(0, 0, 0, 0.75);
    }
}

.main__menu,
.header__center {
    position: relative;
    z-index: 3;
}


@import 'main__menu';
@import 'header__center';