* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header,
.main {
    background-color: #660000;
}
.container {
    width: 85%;
    margin: 0 auto;
}

.current {
    background-color: #76C38F;
                        border-radius: 7px;
}
@import 'header';
@import 'first-section';
@import 'second-section';
@import 'first-footer';
@import 'second-footer';
