.section__ym__legend {
    @media (min-width: $breakpoint-laptop) {
        width: 80%;
        margin: 0 auto;        
    }

    .section__ym__legend__list {
        font-size: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0 50px 0;    
        @media (min-width: $breakpoint-tablet) {
            font-size: 15px;
        }
        .section__ym__legend__list__item {
            width: 50%;
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section__ym__legend__list__item-first {
            font-weight: 500;
        }
    }
}


.legend__powiat-grodziski,
.legend__powiat-nowotomyski,
.legend__powiat-wolsztynski,
.legend__powiat-miedzychodzki,
.legend__powiat-chodzieski,
.legend__powiat-zlotowski,
.legend__powiat-pilski,
.legend__powiat-wagrowiecki,
.legend__powiat-szamotulski,
.legend__powiat-obornicki,
.legend__powiat-czarnkowsko-trzcianecki {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -5%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        
    }
}

.legend__powiat-grodziski {
    
    &::before {
        background-color: $powiat-grodziski-color;
    }
}

.legend__powiat-nowotomyski {
    
    &::before {
        background-color: $powiat-nowotomyski-color;
    }
}

.legend__powiat-wolsztynski {
        
    &::before {
        background-color: $powiat-wolsztynski-color;
    }
}

.legend__powiat-miedzychodzki {
    
    &::before {
        background-color: $powiat-miedzychodzki-color;
    }
}

.legend__powiat-chodzieski {
        
    &::before {
        background-color: $powiat-chodzieski-color;
    }
}

.legend__powiat-zlotowski {
        
    &::before {
        background-color: $powiat-zlotowski-color;
    }
}

.legend__powiat-pilski {
        
    &::before {
        background-color: $powiat-pilski-color;
    }
}

.legend__powiat-wagrowiecki {
        
    &::before {
        background-color: $powiat-wagrowiecki-color;
    }
}

.legend__powiat-szamotulski {
        
    &::before {
        background-color: $powiat-szamotulski-color;
    }
}

.legend__powiat-obornicki {
        
    &::before {
        background-color: $powiat-obornicki-color;
    }
}

.legend__powiat-czarnkowsko-trzcianecki {
        
    &::before {
        background-color: $powiat-czarnkowsko-trzcianecki-color;
    }
}