// BACKGROUND COLORS

$bg__header: #87509C;
$bg__services: #17C2A4;
$bg__meet: #E7F1F8;
$bg__portfolio: #FFDD99;
$bg__about-us: #D74680;
$bg__get-in-touch: #3C5499;
$bg__footer: #344B8E;

// BUTTONS COLORS


$btn__work-with-us: #EB7D4B;
$btn__load-more-projects: #17C2A4;
$btn__send-message: #30BAE7;

// PROGRESS BARS

$progress-bar_blue: #30BAE7;
$progress-bar_purple: #D74680;
$progress-bar_green: #15C7A8;
$progress-bar_orange: #EB7D4B;

// OTHER

$menu__link__bg_hover: #643A79;
$bg-lorem: #878787;
$text_blue: #30BAE7;
$input__bg_color: #273A71;


// FONT
$font: 'Titillium Web', sans-serif;
$breakpoint: 800px;